{% extends 'core/base.html' %}

{% block content %}
<h1 class="mb-4">Booking History</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Cylinder</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.cylinder.cylinder_id }}</td>
            <td>{{ booking.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}